doctype html
html
  head(meta-charset='utf-8')
    title 대팟9
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/index-js.js')
  body
    center 
      h1 대팟9

      if !logined
        h3 로그인해주세요.
        button(id='register' onclick='goUrl("/register")') 회원가입
        button(id='login' onclick='goUrl("/login")') 로그인
      else if !cert
        button(id='cert' onclick='goUrl("/cert")') account certification
      else
        button(id='logout' onclick='goUrl("/logout")') logout
        button(id='logout' onclick='goUrl("/request.html")') 서비스이용
    


