doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title &#xB300;&#xD325;&#xAD6C;

  script(src='result.js')

  // CSS
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='css/materialize.css' type='text/css' rel='stylesheet' media='screen,projection')
  link(href='css/style.css' type='text/css' rel='stylesheet' media='screen,projection')

div(id='sdfasdf' style='display: none;')= jj

#test1.col.s12
  .container
    h3
      b &#xC758;&#xB8B0;
      i.small.material-icons(style='float: right;') search
  ul.collection
    li.collection-item.avatar
      img.circle(src='img/hugi.png')
      span.title &#xC774;&#xAC70;&#xC73C;,&#xB8B0;&#xD569;&#xB2C8;&#xB2E4;&#xC9C4;&#xC9DC;&#xAE09;&#xD574;&#xC5EC;;;;
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 01 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#FF3B30') chevron_right
    li.collection-item.avatar
      img.circle(src='img/defalut.png')
      span.title &#xC544;&#xC0B0;&#xC774;&#xD559;&#xAD00; B1 &#xD504;&#xB9B0;&#xD2B8; &#xBD80;&#xD0C1;&#xD569;&#xB2C8;&#xB2E4;.
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 01 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#FF9500') chevron_right
    li.collection-item.avatar
      img.circle(src='img/bab.png' alt='')
      span.title &#xBD09;&#xAD6C;&#xC2A4; &#xBC25;&#xBC84;&#xAC70; &#xC0AC;&#xB2E4;&#xC8FC;&#xC2E4;&#xBD84;
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 01 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#FF3B30') chevron_right
    li.collection-item.avatar
      img.circle(src='img/kick.png' alt='')
      span.title &#xD0A5;&#xACE0;&#xC789; &#xB300;&#xC5EC;&#xD558;&#xACE0; &#xAE30;&#xD504;&#xD2F0;&#xCF58; &#xBC1B;&#xC544;&#xAC00;&#xC790;!
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 2020 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#34C859') chevron_right
    li.collection-item.avatar
      img.circle(src='img/defalut.png' alt='')
      span.title &#xD55C;&#xACBD;&#xC219; &#xCEF4;&#xD4E8;&#xD130;&#xAC1C;&#xB860; 3&#xC7A5; &#xD504;&#xB9B0;&#xD2B8; &#xD574;&#xC8FC;&#xC2E4;&#xBD84;??
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 01 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#FF3B30') chevron_right
    li.collection-item.avatar
      img.circle(src='img/drink.png' alt='')
      span.title &#xCEE4;&#xD53C; &#xC0AC;&#xB2E4;&#xC8FC;&#xC2DC;&#xBA74; &#xCEE4;&#xD53C;&#xAC12;+&#xCC9C;&#xC6D0;
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 01 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#FF3B30') chevron_right
    li.collection-item.avatar
      img.circle(src='img/gopro.png' alt='')
      span.title &#xACE0;&#xD504;&#xB85C; &#xC788;&#xC73C;&#xC2E0;&#xBD84;...^0^
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 01 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#FFCD00') chevron_right
#test2.col.s12
  .container
    h3
      b &#xBAA8;&#xC784;
      i.small.material-icons(style='float: right;') search
  ul.collection
    li.collection-item.avatar
      img.circle(src='img/hack.png' alt='')
      span.title &#xAC19;&#xC774; &#xACE0;&#xCE74;&#xD1A4; &#xB098;&#xAC00;&#xC2E4;&#xBD84;??
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/04 - 2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 05 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#0577FF') chevron_right
    li.collection-item.avatar
      img.circle(src='img/jinsa.png' alt='')
      span.title &#xC815;&#xC655;&#xB3D9; &#xBA85;&#xB95C;&#xC9C4;&#xC0AC; &#xAC08;&#xBE44; &#xAC19;&#xC774;&#xAC08;&#xBD84;?!
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 03 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#FF3B30') chevron_right
    li.collection-item.avatar
      img.circle(src='img/poketmon.png' alt='')
      span.title &#xD3EC;&#xCF13;&#xBAAC; &#xACE0; &#xB300;&#xC804;&#xD560;&#xC3F4;&#xC544;&#xC544;&#xC544;&#xB78C;
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 02 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#666666') chevron_right
    li.collection-item.avatar
      img.circle(src='img/spoart.png' alt='')
      span.title &#xC778;&#xBB38;&#xB300;&#xB791; &#xB18D;&#xAD6C;&#xD55C;&#xD310;
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/07
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 02 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color:#5853D6') chevron_right
    li.collection-item.avatar
      img.circle(src='img/jet.png' alt='')
      span.title @@&#xC82F;&#xBE0C;&#xB808;&#xC778;&#xD30C;&#xD2F0;&#xAD0C;@@
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/22
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 02 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color: #AF4EDE') chevron_right
    li.collection-item.avatar
      img.circle(src='img/notong.png' alt='')
      span.title &#xB178;&#xB791;&#xD1B5;&#xB2ED;&#xC5D0;&#xC11C; &#xCF5C;&#xB77C;&#xB97C; &#xC3DC;&#xB2E4;! (&#xC815;&#xC655;&#xC810;)
      p(size='3px' style='color:grey')
        i.tiny.material-icons today
        |  2020/01/05 - 2020/02/03
        i.tiny.material-icons &nbsp;&nbsp;&nbsp;people&nbsp;&nbsp;
        | 100 &#xBA85;
      a.secondary-content(href='request_info.html')
        i.medium.material-icons(style='color: #34C859') chevron_right
#test3.col.s12
  .container
    h3
      b &#xCC44;&#xD305;
      i.small.material-icons(style='float: right;') search
  ul.collection
    li.collection-item.avatar
      img.circle(src='img/icon.png' alt='')
      span.title
        a(href='chat.html') &#xCD94;&#xC6CC; (&#xCD94;&#xC704;&#xC640; &#xC2F8;&#xC6B0;&#xB294; &#xC0AC;&#xB78C;&#xB4E4;)
      p(size='3px' style='color:grey') &#xD589;&#xC0AC;&#xC7A5;&#xC774; &#xB108;&#xBB34; &#xCDA5;&#xC2B5;&#xB2C8;&#xB2E4; &#x3160;^&#x3160;
      a.secondary-content(href='chat.html')
        i.small.material-icons(style='color:#FF3B30') looks_4
#test4.col.s12
  // For modern browsers
  h1
    | &#xD504;&#xB85C;&#xD544;
    h1
      div(style=' position: fixed; right: 20px; top:20px;')
      hr
      div
        svg(height='100' width='100')
          circle(cx='50' cy='50' r='40' stroke='black' stroke-width='1' fill='white')
      div
        font(size='2em')
          ul.collection.with-header
            li.collection-item
              div
                | &#xB0B4; &#xD3EC;&#xC778;&#xD2B8;
                a.secondary-content(href='#!')
            li.collection-item
              div
                | &#xCC38;&#xAC00; &#xC911;&#xC778; &#xBAA8;&#xC784;/&#xC758;&#xB8B0;
                a.secondary-content(href='#!')
                  i.material-icons keyboard_arrow_right
            li.collection-item
              div
                | &#xCC38;&#xAC00; &#xD588;&#xB358; &#xBAA8;&#xC784;/&#xC758;&#xB8B0;
                a.secondary-content(href='#!')
                  i.material-icons keyboard_arrow_right
            li.collection-item
              div
                | &#xBE44;&#xBC00;&#xBC88;&#xD638; &#xBCC0;&#xACBD;
                a.secondary-content(href='#!')
                  i.material-icons keyboard_arrow_right
            li.collection-item
              div
                | &#xC774;&#xBA54;&#xC77C; &#xBCC0;&#xACBD;/&#xC7AC;&#xC778;&#xC99D;
                a.secondary-content(href='#!')
                  i.material-icons keyboard_arrow_right
            li.collection-item
              div
                | &#xD68C;&#xC6D0;&#xD0C8;&#xD1F4;
                a.secondary-content(href='#!')
                  i.material-icons keyboard_arrow_right
            li.collection-item
              div
                | Contact
                a.secondary-content(href='#!')
                  i.material-icons keyboard_arrow_right
      div
        font(size='2em')
          p
            | Copyright by 2020 &#xB9C8;&#xC2E4;&#xB098;&#xC654;&#xC2B5;&#xB2C8;&#xB2E4;.
      hr
// floatbtn
.fixedfloat
  a.btn-floating.btn-large.waves-effect.waves-light.red.darken-4(href='request_insert.html')
    i.material-icons.right create
.fixed
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a.active(href='#test1')
            i.material-icons(style='color: #933838') priority_high
        li.tab.col.s3
          a(href='#test2')
            i.material-icons(style='color: #933838') group_add
        li.tab.col.s3
          a(href='#test3')
            i.material-icons(style='color: #933838') chat
        li.tab.col.s3
          a(href='#test4')
            i.material-icons(style='color: #933838') account_circle
// Scripts
script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='js/materialize.js')
script(src='js/init.js')
script.
  $(document).ready(function(){
  $('ul.tabs').tabs();
  });
  // Or with jQuery
